<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431314151698-7sfa39purhpd1o37nh6s7vl612h0ctld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431314151698-7sfa39purhpd1o37nh6s7vl612h0ctld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>431314151698-4s0qahbmbsfre911o14doo2qkbrne7l6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKQ1VAX5uIDzX4payeRro4hfsrRQwK_Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>431314151698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankSathi</string>
	<key>PROJECT_ID</key>
	<string>bank-mitra-unique</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-mitra-unique.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431314151698:ios:64443f562493308038ebcb</string>
</dict>
</plist>